<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deez'web la star du ouaibe</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="196x196">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

<div id="app" v-cloak class="container-fluid">
    <navbar></navbar>
    <div class="container">
            <div v-if="favorites.length > 0">
                <favorite-item v-for="favorite in favorites" :title="favorite.title" :artist="favorite.artist" :id="favorite.id"></favorite-item>
            </div>

            <div v-else>Vous n'avez pas encore ajouté de favoris</div>
    </div>
</div>




<script src="./node_modules/vue/dist/vue.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>