<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="196x196">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <title>Deez'web la star du ouaibe</title>
</head>

<body>

    <div id="app" v-cloak class="container-fluid">
        <navbar></navbar>
        <div class="container">
            <search-form></search-form>
        </div>
        <div v-if="queryResult" class="row mt50 result-group">
            <div v-for="track in queryResult" class="col-md-4 col-sm-6 result-item valign-item">
                <ul class="list-group" style="margin-bottom:0">
                    <li class="list-group-item group-item" style="padding:0"><img class="result-cover" :src="track.album.cover_medium" alt=""><i v-if="ids.indexOf(track.id) === -1" @click="addFav(track.id, track.artist.name, track.title)" title="Ajouter aux favoris"class="favorite far fa-heart"></i><i v-else @click="removeFav(track.id)" title="Enlever des favoris" class="favorized fas fa-heart"></i></li>
                    <li class="list-group-item group-item">{{track.title}}</li>
                    <li class="list-group-item group-item">{{track.artist.name}} / {{track.album.title}}</li>
                    <li class="list-group-item group-item">{{track.duration | secToMin}}</li>
                </ul>
                <div>
                    <a :href="'track.html?id='+track.id">
                        <button class="col-md-4 col-sm-12 btn btn-success" @click="listenSong(track.preview)">
                            Écouter un <br> extrait
                        </button>
                    </a>
                    <a :href="'album.html?id='+ track.album.id">
                        <button class="col-md-4 col-sm-12 btn btn-info" @click="viewAlbum(track.album.id)">
                            Consulter l'album
                        </button>
                    </a>
                    <a :href="'artist.html?id='+ track.artist.id">
                        <button class="col-md-4 col-sm-12 btn" @click="viewArtist(track.artist.id)">
                            Consulter la fiche <br>de l'artiste
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div v-else>
        <div class="loader"></div>
        </div>

    </div>

    


    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>