[v-cloak] {
    display: none;
}

.padding0  {
    padding-left: 0;
    padding-right: 0;
}

.favorite {
    color: white;
    background-color: rgba(80, 80, 80, 0.9);
}

.favorized {
    color : red;
    /*background-color: rgba(185, 185, 185, 0.9);*/
}

.favorite, .favorized {
    position: absolute;
    left: 10px;
    bottom: 25px;
    font-size: 3em;

    padding: 4px;
    border-radius: 5px;
}

header {
    margin-bottom: 25px;
    padding-right: -15px;
    padding-left: -15px;
}

body {
    padding-top: 50px;
}
.loader {
    margin:50vh auto;
    /*margin-top: 30px;*/
    border: 15px solid #f8f8f8; /* Light grey */
    border-top: 15px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    background-color: #EEE;
    /*font-size: 12px;*/
}

img.result-cover {
    /* display: block; */
    margin : 0 auto;
    width: 100%;
    position: relative;
}
img.track-cover {
    display: inline-block;
    width: 75%;
}

form button.btn {
    border-radius: 15px;
}
.btn {
    min-height: 60px;
    padding: 5px;
    margin-top: 5px;
}

form, .mt50{
    margin-top: 50px;
}
.mb50 {
    margin-bottom: 50px;
}
.result-item {
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
}

.group-item {
    min-height: 55px;
}

